In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Used Cars Dataset Analysis Assignment

### a) Handling Missing Values

In [8]:

import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/PDS/Data.csv")

# Fill mode for categorical
for col in ['Fuel_Type', 'Transmission']:
    df[col].fillna(df[col].mode()[0], inplace=True)

# Handle New_Price
df['New_Price'] = df['New_Price'].str.replace(" Lakh", "", regex=False)
df['New_Price'] = pd.to_numeric(df['New_Price'], errors='coerce')
df['New_Price'].fillna(df['New_Price'].median(), inplace=True)

# Drop rows with missing values in key numeric columns
df.dropna(subset=['Power', 'Engine', 'Mileage', 'Seats'], inplace=True)

# For continuous numerical features like 'Mileage', 'Engine', 'Power', and 'Seats',
# I dropped rows with missing values because these are crucial for later analysis and
# imputing them could distort the dataset. Since the number of such rows was relatively small
# it made the deletion a safer choice.

<ipython-input-8-4fb94d491d59>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
<ipython-input-8-4fb94d491d59>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['New_Price'].fillna(df['New_Price'].median(), inplace=True)

### b) Removing Units from Attributes

In [9]:

df['Mileage'] = df['Mileage'].str.extract('([\d.]+)').astype(float)
df['Engine'] = df['Engine'].str.extract('([\d.]+)').astype(float)
df['Power'] = df['Power'].str.extract('([\d.]+)').astype(float)
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,11.665,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,8.610,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,11.665,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,11.665,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,11.665,3.50

### c) Encoding Categorical Variables

In [10]:

df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'])
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,11.665,12.50,True,False,False,True
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.610,4.50,False,True,False,True
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,11.665,6.00,True,False,False,True
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,11.665,17.74,True,False,True,False
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,11.665,3.50,True,False,False,True

### d) Creating New Feature - Car Age

In [11]:

current_year = 2025
df['Car_Age'] = current_year - df['Year']
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual,Car_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,11.665,12.50,True,False,False,True,10
1,2,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,8.610,4.50,False,True,False,True,14
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,11.665,6.00,True,False,False,True,13
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,11.665,17.74,True,False,True,False,12
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,11.665,3.50,True,False,False,True,12

### e) Select, Filter, Rename, Mutate, Arrange, Summarize

In [12]:

selected_df = df[['Name', 'Location', 'Price', 'Car_Age']]
filtered_df = selected_df[(selected_df['Price'] > 10) & (selected_df['Car_Age'] < 5)]
renamed_df = selected_df.rename(columns={"Price": "Used_Price"})
summarized_df = df.groupby("Owner_Type")[["Price", "Car_Age"]].agg(["mean", "max"])
arranged_df = df.sort_values(by="Price", ascending=False)

filtered_df.head(), renamed_df.head(), summarized_df.head(), arranged_df.head()

(Empty DataFrame
 Columns: [Name, Location, Price, Car_Age]
 Index: [],
                                Name    Location  Used_Price  Car_Age
 0  Hyundai Creta 1.6 CRDi SX Option        Pune       12.50       10
 1                      Honda Jazz V     Chennai        4.50       14
 2                 Maruti Ertiga VDI     Chennai        6.00       13
 3   Audi A4 New 2.0 TDI Multitronic  Coimbatore       17.74       12
 4            Nissan Micra Diesel XV      Jaipur        3.50       12,
                     Price           Car_Age
                      mean    max       mean max
 Owner_Type
 First           10.122900  160.0  10.989135  27
 Fourth & Above   3.567143    5.5  17.285714  20
 Second           7.847952   90.0  13.693319  26
 Third            5.299505  120.0  16.871287  27,
       Unnamed: 0                                         Name    Location  \
 3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
 5620        5781                   Lamborghini Gallardo Coupe       Delhi
 5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
 1457        1505              Land Rover Range Rover Sport SE       Kochi
 1917        1974                           BMW 7 Series 740Li  Coimbatore

       Year  Kilometers_Driven Owner_Type  Mileage  Engine  Power  Seats  \
 3952  2017              25000      First    13.33  2993.0  255.0    5.0
 5620  2011               6500      Third     6.40  5204.0  560.0    2.0
 5752  2015               8000      First    12.50  5000.0  488.1    2.0
 1457  2019              26013      First    12.65  2993.0  255.0    5.0
 1917  2018              28060      First    12.05  2979.0  320.0    5.0

       New_Price   Price  Fuel_Type_Diesel  Fuel_Type_Petrol  \
 3952     11.665  160.00              True             False
 5620     11.665  120.00             False              True
 5752     11.665  100.00             False              True
 1457     11.665   97.07              True             False
 1917     11.665   93.67             False              True

       Transmission_Automatic  Transmission_Manual  Car_Age
 3952                    True                False        8
 5620                    True                False       14
 5752                    True                False       10
 1457                    True                False        6
 1917                    True                False        7  )